.home__sect {
  display: grid;
  grid-template-columns: 1fr;
}
.Home {
    display: grid;
    grid-template-columns: 23% 1fr;
    gap: 50px;
    padding: 10px 60px;
    margin-top: 100px;
}

.home__left, .home__right {
    border-top: 4px solid black;
}
.home__right h1 {
    font-family: "Unbounded", sans-serif; 
}
.home__left h2 {
    font-size: 28px;
    line-height: 30px;
}
.home__left__section {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.home__left__head {
    display: grid;
    grid-template-columns: 1fr 100px;
    justify-content: space-between;
    align-items: end;
}
.home__left__head h1 {
    width: 850px;
    display: -webkit-box;
    font-size: 45px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home__left__news {
    display: flex;
    flex-direction: row;
    gap: 8px;
    /* align-items: center; */
}
.home__left__news img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.left__news__details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.news__title {
    font-size: 12px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
}
.news__date {
    font-size: 12px;
    font-weight: 600;
    color: grey;
    margin-bottom: 6px;
    font-family: "Work Sans", sans-serif;
}
.__home__img__  {
    display: none;
}



/* HOME RIGHT */
.home__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.home__image_secton {
    position: relative;
}
.home__image_secton img {
    width: 100%;
    height: 400px;
    background-color: grey;
    object-fit: cover;
}
.home__one {
    position: absolute;
    top: 20px;
    left: 20px; 
    color: white;
    background-color: #009ca7;
    padding: 8px 10px;  
    border: none; 
    font-size: 12px;
}
.other__home__img {
    display: flex;
    gap: 25px;
    width: 250px;
    object-fit: cover;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}
.inside__other__home img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-bottom: 10px;
}
.inside__other__home  {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.news__title {
    font-size: 15px;
    font-family: Work Sans;
    line-height: 15px;
    font-weight: bold;
}
.categories {
    color: #009ca7;
    font-size: 8px;
}
.newletter__ {
    display: grid;
    grid-template-columns: 1fr 250px;
    justify-content: space-between;
    gap: 60px;
}
.newsletter__section {
    background-color: rgb(0, 0, 0);
    width: 100%;
}
.newsletter  {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    
}

.newsletter h1 {
    color: #E8F887;
 
    font-family: "Unbounded", sans-serif;
    letter-spacing: -1.6px;
    line-height: 30px;
    padding-right: 100px;
}
.newsletter small {
    color: white;
    font-size: 12px;
}
.btn__newsletter {
    margin-top: 20px;
    padding-right: 100px;
    /* display: grid;
    grid-template-columns: 150px 50px 50px;
    gap: 10px; */
    /* display: flex;
    gap: 10px; */
    

}
.news__btn {
    background: none;
    font-family: "Work Sans", sans-serif;
    border: 1px solid rgb(90, 90, 90);
    font-size: 10px;
    color: rgb(231, 231, 231);
    padding: 6px 12px;
    border-radius: none;
    margin: 3px;
    letter-spacing: -.5px;
}
.send {
    margin-top: 50px;
}
.first__send {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.first__send input {
    background: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #E8F887;;
    outline: none;
    color: white;
}
.first__send input::placeholder {
    font-family: "Unbounded", sans-serif;
    color: rgb(70, 70, 70);
    font-size: 12px;
}
.send__email {
    color: rgb(0, 0, 0);
    font-size: 12px;
    border: none;
    padding: 8px 25px;
    background-color: #E8F887;
    font-weight: bold;
    font-family: "Unbounded", sans-serif;
}
.check {
    color: grey;
    font-size: 11px;
    font-weight: 400;
}
.other__home__img__ {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}
.img__left__home {
    width: 100%;
    height:220px;
    object-fit: cover;
}

.news__title__home {
    font-size: 12px;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
}
.desc {
    font-size: 10px;
    font-family: "Work Sans", sans-serif;
}
.read {
    display: flex;
    align-items: center;
    color: #FD5001;
    gap: 5px;
    cursor: pointer;
}
.read h4 {
    font-size: 12px;
}
.read span {
    font-size: 12px;
    margin-top: 5px;
}
.mobile__newsletter {
    display: none;
}





@media screen and (max-width: 600px) {
    .Home {
        display: flex;
        /* flex-direction: row; */
        flex-direction: column-reverse;
        gap: 50px;
        padding: 0 10px;
        margin-top: 70px;
    }
    .home__left__head {
        padding: 0 20px;
    }
    .read h4, .read span{
       font-size: 15px;
    }
    .home__left__head {
        display: grid;
        grid-template-columns: 1fr;
    }
    .home__img {
        height: 90px;
    }
    .other__home__img, .desktop__news  {
        display: none;
    }
    .home__left {
        padding: 20px;
    }
    .home__left__news img {
        width: 120px;
        height: 120px;
    }
    .news__title {
        font-size: 16px;
    }
    .Newletter__ {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        gap: 60px;
        padding: 0;
    }
    .newsletter__section {
        background-color: rgb(0, 0, 0);
        width: 100%;
    }
    .newsletter  {
        padding: 20px;
        background-color: rgb(0, 0, 0);
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .newsletter h1 {
        font-size: 35px;
        line-height: 35px;
    }
    .newsletter small {
        color: white;
        font-size: 12px;
    }
    .btn__newsletter {
        margin-top: 25px;
        padding-right: 50px;
    }
    .news__btn {
        padding: 8px;
        margin: 3px;
    }
    .mobile__newsletter {
        display: block;
        padding: 0;
        margin-top: 50px;
    }
    .first__send {
        display: grid;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        /* background-color: #E8F887; */
    }
 
    .first__send input {
        background: none;
        border: none;
        width: 100%;
        border-bottom: 1px solid #E8F887;;
        outline: none;
        color: white;
    }
    .desktop__side {
        display: none;
    }
    .home__left__head h1 {
        width: 100%;
        display: -webkit-box;
        font-size: 30px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }





    

    
}
