:root {
  font-family: "Work Sans", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  letter-spacing: -0.7px;
  display: grid;
  grid-template-columns: 1fr;
}